*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:transparent;
display:flex;
justify-content:center;
padding:8px;
}

.livebar{

width:100%;
max-width:1300px;

height:78px;

background:#090909;

border-radius:22px;

display:flex;
align-items:center;

padding:0 18px;

border:2px solid transparent;

background-image:
linear-gradient(#090909,#090909),
linear-gradient(90deg,
#ff0077,
#ff6a00,
#ffe600,
#00ff88,
#00cfff,
#7a5cff,
#ff0077);

background-origin:border-box;
background-clip:padding-box,border-box;

box-shadow:
0 0 18px rgba(255,0,180,.30);

}

.logo img{

width:58px;
height:58px;

border-radius:50%;

}

.info{

margin-left:18px;
flex:1;

}

.live{

color:#ff4040;
font-weight:bold;
font-size:13px;

}

.info h1{

color:white;

font-size:24px;

margin-top:4px;

}

.info p{

color:#bfbfbf;

font-size:14px;

}

#playButton{

width:62px;

height:62px;

border:none;

border-radius:50%;

cursor:pointer;

font-size:28px;

color:white;

background:linear-gradient(
135deg,
#ff0080,
#7b5cff,
#00d4ff);

box-shadow:
0 0 20px rgba(170,0,255,.6);

transition:.25s;

}

#playButton:hover{

transform:scale(1.08);

}

.volume{

display:flex;

align-items:center;

margin-left:25px;

color:white;

}

#volume{

width:130px;

margin-left:10px;

accent-color:#d43bff;

}
